<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Psibr.Platform" version="2.0.1.0" targetFramework="net45" />
  <package id="REstate.Domain.Core" version="1.0.1.0" targetFramework="net461" />
  <package id="Susanoo.Core" version="1.2.4.2" targetFramework="net461" />
  <package id="Susanoo.SqlServer" version="1.2.4.2" targetFramework="net461" />
</packages>