<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Psibr.Platform" version="4.0.0-pre8" targetFramework="net461" />
  <package id="REstate.Domain.Core" version="8.0.0" targetFramework="net461" />
  <package id="Susanoo.ConnectionPooling" version="1.0.1" targetFramework="net461" />
  <package id="Susanoo.Core" version="1.2.4.2" targetFramework="net461" />
  <package id="Susanoo.SqlServer" version="1.2.4.2" targetFramework="net461" />
</packages>