<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="REstate" connectionString="server=devsql;database=REstate;Application Name=REstate;Integrated Security=sspi;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>