<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="REstate" connectionString="server=(LocalDB)\MSSQLLocalDb;database=REstate;Application Name=REstate;integrated security=true;" providerName="System.Data.SqlClient"/>-->
    <add name="REstate" connectionString="server=(LocalDB)\MSSQLLocalDb;database=REstate;Application Name=REstate;Integrated Security=sspi;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="REstate.Services.HostBindingAddress" value="http://+/restate/auth" />
    <add key="REstate.Web.EncryptionPassphrase" value="ThisIsMySharedKeyAndPassPhrase" />
    <add key="REstate.Web.HmacPassphrase" value="ThisIsMySharedKeyAndPassPhrase" />
    <add key="REstate.Web.Auth.LoginRedirectAddress" value="http://localhost/restate" />
    <add key="REstate.Web.LoginAddress" value="http://localhost/restate/auth/login" />
    <add key="REstate.Web.ClaimsPrincipalResourceName" value="server.User" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <!-- 1. Enable the switch here. Without this, you get nothing. By default, Katana has "new SourceSwitch("Microsoft.Owin")" at the root level. -->
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>

    <!-- 2. Add your shared listeners. -->
    <trace autoflush="true" />
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>

    <sources>
      <!-- "Microsoft.Owin" is the SourceSwitch name katana is using at the rootlevel. By enabling this, we are enabling all sub level traces by the components (if we don't change the default trace settings). -->
      <source name="Microsoft.Owin" switchName="Microsoft.Owin" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Susanoo.Core" publicKeyToken="0a505ce04f8a59d5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.4.2" newVersion="1.2.4.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.ChildKernel" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
