<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Psibr.Platform" version="3.1.0" targetFramework="net461" />
  <package id="REstate.Domain.Chrono" version="1.0.1.0" targetFramework="net461" />
  <package id="REstate.Domain.Core" version="5.0.1.0" targetFramework="net461" />
  <package id="REstateClient" version="5.0.1" targetFramework="net461" />
  <package id="Susanoo.ConnectionPooling" version="1.0.1" targetFramework="net461" />
  <package id="Susanoo.Core" version="1.2.4.2" targetFramework="net461" />
</packages>