<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
</packages>