<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net461" />
  <package id="AutofacSerilogIntegration" version="1.0.10" targetFramework="net461" />
  <package id="JWT" version="1.3.4" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="OwinJwtAndCookie" version="1.0.0.0" targetFramework="net461" />
  <package id="Psibr.Platform" version="2.0.0.0" targetFramework="net461" />
  <package id="Psibr.Platform.Logging.Serilog" version="1.0.0.0" targetFramework="net461" />
  <package id="Psibr.Platform.Nancy" version="2.0.0.0" targetFramework="net461" />
  <package id="Psibr.Platform.Nancy.Service" version="1.0.0.0" targetFramework="net461" />
  <package id="Serilog" version="1.5.14" targetFramework="net461" />
  <package id="Serilog.Sinks.Literate" version="1.2.0" targetFramework="net461" />
  <package id="Topshelf" version="3.3.1" targetFramework="net461" />
  <package id="Topshelf.Serilog" version="3.3.1" targetFramework="net461" />
</packages>