<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="REstate" connectionString="server=(LocalDB)\MSSQLLocalDb;database=REstate;Application Name=REstate;integrated security=true;" providerName="System.Data.SqlClient"/>-->
    <add name="REstate" connectionString="server=(LocalDB)\MSSQLLocalDb;database=REstate2;Application Name=REstate;Integrated Security=sspi;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
